<div class="centered-content">
  <h1 class="register-title">Register</h1>
  <form
    [formGroup]="form"
    class="register"
    action=""
    method="post"
    (ngSubmit)="register()"
  >
    <div class="txt_field">
      <input
        class="login-field-par-input"
        type="text"
        name="fulName"
        id="fullName"
        formControlName="fullName"
      />
      <span></span>
      <label for="fullName">Username</label>
    </div>

    <ng-container *ngIf="form.get('fullName')?.touched">
      <p *ngIf="form.get('fullName')?.errors?.['required']" class="errors">
        Username is required!
      </p>
      <p *ngIf="form.get('fullName')?.errors?.['minlength']" class="errors">
        Username should be 4 chars!
      </p>
    </ng-container>

    <div class="txt_field">
      <input
        class="login-field-par-input"
        type="email"
        name="email"
        id="email"
        formControlName="email"
      />
      <span></span>
      <label for="email">Email Address</label>
    </div>

    <ng-container *ngIf="form.get('email')?.touched">
      <p *ngIf="form.get('email')?.errors?.['required']" class="errors">
        Email is required!
      </p>
      <p *ngIf="form.get('email')?.errors?.['invalidEmail']" class="errors">
        Email is not valid!
      </p>
    </ng-container>

    <div class="txt_field">
      <input
        class="login-field-par-input"
        type="password"
        name="password"
        id="password"
        formControlName="password"
      />
      <span></span>
      <label for="password">Password</label>
    </div>

    <ng-container *ngIf="form.get('password')?.touched">
      <p *ngIf="form.get('password')?.errors?.['required']" class="errors">
        Password is required!
      </p>
      <p *ngIf="form.get('password')?.errors?.['minlength']" class="errors">
        Password must be minlength not valid!
      </p>
    </ng-container>

    <div class="txt_field">
      <input
        class="login-field-par-input"
        type="password"
        name="rePassword"
        id="rePassword"
        formControlName="rePassword"
      />
      <span></span>
      <label for="rePassword">Repeat Password</label>
    </div>

    <ng-container *ngIf="form.get('rePassword')?.touched">
      <p *ngIf="form.get('rePassword')?.errors?.['required']" class="errors">
        Repeat Password is required!
      </p>
      <p *ngIf="form.get('rePassword')?.errors?.['sameValue']" class="errors">
        Repeat Password must Equal Pass not valid!
      </p>
    </ng-container>

    <button class="button">Register</button>

    <br />

    <p class="login">
      Already got an account? <a routerLink="/login">Login</a> now!
    </p>
  </form>
</div>
