footer {
  font-family: Helvetica, sans-serif;
  margin: 0;
  padding: 120px;
  text-align: center;
  background: #009a6f;
}

.footer-text {
  color: #68bca2;
  letter-spacing: 1px;
}

.footer-text a {
  text-decoration: none;
  color: #e2f0ec;
}
