footer {
  // font-family: Helvetica, sans-serif;
  // margin: 0;
  // padding: 15px;
  // text-align: center;
  // width:100%;
  // height:60px;   /* Height of the footer */
  // background: #009a6f;
  // // background:#6cf;

  // background-color: orange;
  // position: absolute;
  // left: 0;
  // bottom: 0;
  // height: 100px;
  // width: 100%;
  // overflow: hidden;

  position: fixed;
  left: 0;
  bottom: 0;
  margin-top: 25px;
  width: 100%;
  background-color: rgb(165, 135, 135);
  color: white;
  text-align: center;
  z-index: 14;

}

.footer-text {
  color: #68bca2;
  letter-spacing: 1px;
}

.footer-text a {
  text-decoration: none;
  color: #e2f0ec;
}
