footer {
  font-family: Helvetica, sans-serif;
  margin: 0;
  padding: 15px;
  text-align: center;
  position:fixed;
  bottom:0;
  width:100%;
  height:60px;   /* Height of the footer */
  background: #009a6f;
  // background:#6cf;

}

.footer-text {
  color: #68bca2;
  letter-spacing: 1px;
}

.footer-text a {
  text-decoration: none;
  color: #e2f0ec;
}
