<section class="main">
  <article class="main-img">
    <img src="././assets/for.jpg" alt="" class="main-img-img" />
  </article>
  <article class="main-content">
    <h1 class="home-title">Welcome</h1>
    <p class="home-text">
      Share your thoughts, create some posts or like them
    </p>
    <div *ngIf="!isLogged" class="home-log">
          <button routerLink="/login" class="home-log-btn">Login</button>
          <button routerLink="/register" class="home-log-btn">Register</button>
    </div>
  </article>
</section>
