<div id="post-card">
  <h2 class="title">My Posts</h2>
  <div *ngIf="!posts"><p class="loading">Loading...</p></div>
  <div *ngIf="posts?.length == 0" class="no-post-text">
    There are no posts! <a routerLink="/add-post">Create</a> First One!
  </div>
  <section class="all-posts" *ngIf="posts">
    <article
      class="card flex_item"
      *ngFor="
        let post of posts
          | paginate
            : { itemsPerPage: 6, currentPage: page, totalItems: totalLength }
      "
      [routerLink]="['/posts', post._id]"
    >
      <img [src]="post.imageUrl" alt="NISHTO" class="poster" />
      <div class="info">
        <h3><i class="fa-brands fa-battle-net"></i> {{ post.name }}</h3>
        <!-- <p>by {{ post.creatorName }}</p> -->
        <p><i class="fa-solid fa-clock"></i> {{ post.createdAt | timeDiff }}</p>
        <p>
          <i class="fa-solid fa-comment-dots"></i>
          {{ post.description | shorten: 20 }}
        </p>
        <!-- <p class="at">At: {{ post.createdAt }}</p> -->

        <p>
          <i class="fa-solid fa-thumbs-up"></i> {{ post.groupMembers.length }}
        </p>
        <p><i class="fa-solid fa-people-roof"></i> {{ post.public }}</p>
      </div>
    </article>

    <pagination-controls (pageChange)="page = $event"></pagination-controls>
  </section>
</div>
