<section *ngIf="post" class="main">
  <article class="main-img">
    <img [src]="post.imageUrl" alt="{{ post.name }}" class="main-img-img" />
  </article>
  <article class="main-content">
    <h2 class="post-title">{{ post.name }}</h2>
    <p class="post-user-info">by {{ post.creatorName }}</p>
    <p class="post-user-info">email: {{ post.author.email }}</p>
    <p class="post-info">Description: {{ post.description }}</p>
    <p class="post-info">Likes: {{ post.groupMembers.length }}</p>

    <!-- Buttons -->
    <div class="buttons">
      <div *ngIf="credit">
        <button [routerLink]="['/posts', post._id, 'edit']" class="btn-option">
          <i class="fa-solid fa-wrench"></i>
          Edit Post
        </button>
        <button (click)="onDeletePost(post._id)" class="btn-option">
          <i class="fa-solid fa-trash"></i>
          Delete
        </button>
      </div>

      <div *ngIf="!credit" class="btn-like">
        <button *ngIf="!leketa" (click)="likePost(post._id, getEmail)">
          <i class="fa-solid fa-thumbs-up"></i>Like
        </button>
        <button *ngIf="leketa" (click)="unlikePost(post._id, getEmail)">
          <i class="fa-solid fa-thumbs-down"></i>Unlike
        </button>
      </div>

      <div class="btn-cancel">
        <button type="button" routerLink="/posts">
          <i class="fa-solid fa-border-all"></i>All Posts
        </button>
      </div>

      <div class="btn-cancel">
        <button
          *ngIf="post.groupMembers.length > 0"
          (click)="toggleLikes()"
          class="toggle-likes"
        >
          <i class="fa-solid fa-people-group"></i>Show Likes
        </button>
      </div>

      <div *ngIf="toggle">
        <!-- <h3>Users Liked the Post</h3> -->
        <div *ngFor="let user of post.groupMembers" class="card flex_item users">

         <div class="info-user-like">
          <h3><i class="fa-solid fa-user"></i><p>{{ user.fullName }}</p></h3>
          <p><i class="fa-solid fa-calendar-plus"></i>{{ user.ownProjects.length }}</p>
          <p>
            <i class="fa-solid fa-file-arrow-down"></i>
            {{ user.otherProjects.length }}
          </p>
         </div>

        </div>
      </div>
    </div>
  </article>
</section>

<!-- Comments -->

<section class="comments" *ngIf="post">
  <h3 class="header">Comment:</h3>

  <form [formGroup]="form" action="" method="post" (ngSubmit)="addComment()">
    <div class="txt_field">
      <input
        type="text"
        name="description"
        id="description"
        placeholder="description"
        placeholder="description"
        formControlName="description"
      />
      <span></span>
      <label for="description">Comment</label>
    </div>
    <ng-container *ngIf="form.get('description')?.touched">
      <p *ngIf="form.get('description')?.errors?.['required']" class="error">
        Comment cannot be empty.
      </p>
    </ng-container>
    <button class="add-com">ADD Comment</button>
  </form>
</section>

<section class="all-comments" *ngIf="post">
   <div *ngIf="getComments">
    <div *ngFor="let comment of comments" class="comments">
      <div class="card flex_item">
       <div>
        <h3>{{ comment.author }}</h3>
        <p class="time-ago">{{ comment.createdAt }}</p>
        <p>{{ comment.description }}</p>
        <!-- <div *ngIf="comment.author == fullName || fullName == post.creatorName"> -->
        <div
          *ngIf="comment.jimHelper == getUserId || getUserId == post.author._id"
        >
          <button (click)="onDeleteComment(comment._id, post._id)">
            Delete Comment
          </button>
        </div>
       </div>
      </div>

    </div>
  </div>
</section>
