.container {
  padding: 0 20px;
  max-width: 1300px;
  margin: 0 auto;
}

.nav {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 20px;
}

.nav-list {
display: flex;
}

.nav-list-item {
list-style-type: none;
}

.nav-list-item a {
text-decoration: none;
color: #575471;
margin: 20px 12px;
}

.nav-logo {
max-width: 150px;
}
