
#post-card {
  padding: 100px 1rem;
}

#post-card .title {
  text-align: center;
  margin-bottom: 3rem;
}

#post-card .all-posts {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 1rem;
}

#post-card .postMember {
  // width: 400px;
  position: relative;
  overflow: hidden;
}

#post-card .postMember .poster {
  width: 100%;
}

#post-card .postMember::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #2b6cb0;
  opacity: 0.4;
}

#post-card .postMember .info {
  position: absolute;
  bottom: -110px;
  left: 0;
  z-index: 10;
  padding: 1rem;
  transition: bottom 300ms ease-in-out;
}

#post-card .postMember:hover .info {
  bottom: 0;
}

#post-card .postMember .info .post-title,
#post-card .postMember .info .creator,
#post-card .postMember .info .desc {
  color: #fff;
  margin-bottom: 0.85rem;
}

#post-card .postMember .info .creator {
  letter-spacing: 1px;
  font-weight: bold;
}

#post-card .postMember .info .desc {
  line-height: 1.3;
}

#post-card .postMember .info .likes li{
  display: inline-block;
  margin-right: 12px;
  font-size: 32px;
  color: #fff;
  transition: color 300ms ease-in-out;
}

#post-card .postMember .info .likes li:hover{
  color: #e029e3;
}
